/* styles.css */
.main-container,
.container,
.container-fluid {
  max-width: 75% !important; /* Previous value 90 */
  width: 75% !important;    /* Previous value 100 */
  padding: 10 !important;
}
body {background-color: white; color: black; font-family:Sans-Serif; font-size: 18px;text-align:justify;
  
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 20px;
  margin-left: 20px;
  

}


table, th, td {
  border: none !important;
  border-collapse: collapse !important;
}

/* If you want to remove underlines from all links in tables: */
table a,
table a:visited,
table a:hover,
table a:active {
  text-decoration: none !important;
}

h1   {font-weight: bold; font-weight: 1000; font-family:Sans-Serif; font-size: 25px;
  margin-bottom: 80px;

}
h1.title {
    display: none;
}
h2   {color: blue; font-family:Sans-Serif; font-size: 40px;

}
h3   {color: blue; font-family:Sans-Serif; font-size: 30px;
    margin-right: 10px;
  margin-left: 10px;
}
p   {margin-bottom: 25px;

}
ttt   {
color: rgb(111,138,235);
}

ttt2   {
color: rgb(111,138,235);
margin-top: 0px;
}

tttwhite   {
color: white;
}

tttred   {
color: orange;
}

tttred2   {
color: rgb(181,166,66);
}

tttgray   {
color: gray;
}

tttlightcoral   {
color: lightcoral;
}

sfont {font-size: 15px;padding: 25px;}

spad {font-size: 18px;padding: 10px;margin-bottom: 25px;}

vpad {margin-bottom: 20px;}


bigbold {font-size: 25px;font-weight: bold;}

blockquote {font-size: 10px;font-style: italic;}


